Source: libsapo-broker-perl
Section: perl
Priority: optional
Maintainer: vagrant <c.valente@co.sapo.pt>
Build-Depends: debhelper (>= 8),
 perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/SAPO-Broker/

Package: libsapo-broker-perl
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: SAPO Broker perl bindings
 This is SAPO Broker's perl API.
 .
 This description was automagically extracted from the module by dh-make-perl.
