<?xml version="1.0"?>

<global-config>
	<domain>
		<peer>
				<ip>127.0.0.1</ip>
				<port>3315</port>
		</peer>
		<!-- peer>
				<ip>127.0.0.1</ip>
				<port>3415</port>
		</peer -->
	</domain>
	<!-- Message related configuration -->
	<messages>
		<max-msg-size>262144</max-msg-size><!-- Maximum message size -->
		<prefer-local-consumers>true</prefer-local-consumers>
		<support-virtual-queues>true</support-virtual-queues>
		<queues>
			<max-queues>500</max-queues> <!-- Maximum number of queues -->
			<store-time>604800000</store-time> <!-- Maximum time a message is kept by the agent: 1 week -->
		</queues>
		<topic>
			<max-distinct-subscriptions>500</max-distinct-subscriptions><!-- Maximum number of distinct subscriptions -->
		</topic>
	</messages>
	<security-policies>
		<policies>
			<policy policy-name="default">
				<acl>
					<entry action="DENY" destination-type="TOPIC QUEUE VIRTUAL_QUEUE" destination="/system/.*" privilege="WRITE">
						<condition condition-type="ALWAYS" />
					</entry>
					<entry action="PERMIT" destination-type="TOPIC" destination="/secret/.*" privilege="READ">
						<condition condition-type="ROLE">
							<role>reidacocapreta@example.com</role>
						</condition>
					</entry>
				</acl>
			</policy>
		</policies>
	</security-policies>

</global-config>
