<?xml version="1.0"?>

<global-config>
	<domain>
		<peer>
			<name>broker1</name>
			<transport>
				<type>TCP</type>
				<ip>127.0.0.1</ip>
				<port>3315</port>
			</transport>
		</peer>
		<peer>
			<name>broker2</name>
			<transport>
				<type>TCP</type>
				<ip>127.0.0.1</ip>
				<port>3415</port>
			</transport>
		</peer>
	</domain>
	<security-policies>
		<policies>
			<policy policy-name="default">
				<acl>
					<entry action="DENY" destination-type="TOPIC" destination="/system/.*" privilege="WRITE">
						<condition condition-type="ALWAYS" />
					</entry>
					<entry action="PERMIT" destination-type="TOPIC" destination="/secret/.*" privilege="READ">
						<condition condition-type="ROLE">
							<role>reidacocapreta@example.com</role>
						</condition>
					</entry>
					<entry action="DENY" destination-type="TOPIC" destination="/secret/.*" privilege="READ">
						<condition condition-type="ALWAYS" />
					</entry>				</acl>
			</policy>
		</policies>
	</security-policies>
	<authorization-providers>
		<authorization-provider provider-name="SapoSTS">
			<class>pt.com.security.authentication.sapoSts.SapoSTSAuthenticationCredentialsProvider</class>
			<provider-params>
				<sts>
					<STSLocation>https://services.sapo.pt/STS/</STSLocation>
					<STSUsername>xxxxxxxxxxxxxxxxxxxx</STSUsername>
					<STSPassword>xxxxxxxxxxxxxxxxxxxx</STSPassword>
				</sts>
			</provider-params>
		</authorization-provider>
	</authorization-providers>
	<credential-validators>
		<credential-validator provider-name="SapoSTS">
			<class>pt.com.security.authentication.sapoSts.SapoSTSAuthenticationInfoValidator</class>
		</credential-validator>
		<credential-validator provider-name="BrokerRolesDB">
			<class>pt.com.broker.auth.jdbc.JdbcAuthInfoValidator</class>
		</credential-validator>
	</credential-validators>
</global-config>
