<?xml version="1.0"?>

<global-config>
	<domain>
		<peer>
			<name>broker1</name>
			<transport>
				<type>TCP</type>
				<ip>127.0.0.1</ip>
				<port>3315</port>
			</transport>
		</peer>
		<peer>
			<name>broker2</name>
			<transport>
				<type>TCP</type>
				<ip>127.0.0.1</ip>
				<port>3415</port>
			</transport>
		</peer>
	</domain>
	<security-policies>
		<policies>
			<policy policy-name="default">
				<acl>
					<entry action="DENY" destination-type="TOPIC QUEUE VIRTUAL_QUEUE" destination="/system/.*"  privilege="WRITE">
						<condition condition-type="ALWAYS" />
					</entry>
					<entry action="PERMIT" destination-type="TOPIC" destination="/secret/.*" privilege="READ">
						<condition condition-type="ROLE">
							<role>reidacocapreta@example.com</role>
						</condition>
					</entry>
					<entry action="DENY" destination-type="TOPIC" destination="/secret/.*" privilege="READ">
						<condition condition-type="ALWAYS" />
					</entry>				</acl>
			</policy>
		</policies>
	</security-policies>
	<credential-validators>
		<credential-validator provider-name="SapoSTS">
			<class>pt.com.broker.auth.saposts.SapoSTSAuthInfoValidator</class>
			<provider-params>
				<sts>
					<sts-location>https://services.sapo.pt/STS/</sts-location>
					<sts-username>[username]</sts-username>
					<sts-password>[password]</sts-password>
				</sts>
			</provider-params>
		</credential-validator>
		<credential-validator provider-name="BrokerRolesDB">
			<class>pt.com.broker.auth.jdbc.JdbcAuthInfoValidator</class>
			<provider-params>
				<db-roles>
					<driver-class>org.postgresql.Driver</driver-class>
					<database-url>jdbc:postgresql://localhost/BROKER_ROLES</database-url>
					<database-username>[username]</database-username>
					<database-password>[password]</database-password>
				</db-roles>
			</provider-params>
		</credential-validator>
	</credential-validators>
</global-config>
