<?xml version="1.0"?>

<global-config>
	<domain>
		<peer>
			<name>broker1</name>
			<transport>
				<type>TCP</type>
				<ip>127.0.0.1</ip>
				<port>3315</port>
			</transport>
		</peer>
	</domain>
	<security-policies>
		<policies>
			<policy policy-name="default">
				<acl>
					<entry action="DENY" destination-type="TOPIC" destination="/system/.*"  privilege="WRITE">
						<condition condition-type="ALWAYS" />
					</entry>				</acl>
			</policy>
		</policies>
	</security-policies>
</global-config>
