<?xml version="1.0"?>
<global-config>
  <domain>
    <peer>
       <ip>10.135.33.4</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.5</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.9</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.21</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.22</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.23</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.27</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.30</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.15</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.16</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.13</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.18</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.33.24</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.41</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.42</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.34.141</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.34.142</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.34.143</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.34.144</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.34.14</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.35.73</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.35.74</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.35.75</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.121</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.122</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.123</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.115</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.116</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.117</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.118</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.5.123</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.67.183</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.67.184</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.105</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.141</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.142</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.143</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.231</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.232</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.240</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.151</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.152</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.153</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.134.96.6</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.134.96.21</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.134.96.22</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.205</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.206</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.207</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.208</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.231</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.32.232</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.202</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.216</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.217</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.65.11</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.65.12</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.81</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.82</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.83</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.84</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.85</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.86</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.4.87</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.181</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.182</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.183</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.184</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.185</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.186</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.187</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.188</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.66.90</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.66.171</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.64.239</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.121</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.122</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.241</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.242</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.11</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.6.12</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.66.183</ip>
       <port>3315</port>
    </peer>
    <peer>
       <ip>10.135.66.184</ip>
       <port>3315</port>
    </peer>
  </domain>
  <!-- Message related configuration -->
  <messages>
    <max-msg-size>262144</max-msg-size>
    <!-- Maximum message size -->
    <queues>
      <max-queues>500</max-queues>
      <!-- Maximum number of queues -->
      <store-time>604800000</store-time>
      <!-- Maximum time a message is kept by the agent: 1 week -->
    </queues>
    <topic>
      <max-distinct-subscriptions>500</max-distinct-subscriptions>
      <!-- Maximum number of distinct subscriptions -->
    </topic>
  </messages>
</global-config>

