<div class="left-drawer">
    <ul>




        {% include section-selector.html %}

        {% for component in section.components %}
        <li class="heading">{{ component.title }}{% if component.topics %}
            {% for topic in component.topics %}

            {% if topic.url or topic.first == false  %}

            {% if topic.url %}
        <li><a href="{{ site.url }}{{ topic.url }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
        {% else %}
        {% if topic.hash == true %}
        <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/#{{ topic.title | downcase | replace: ' ','-' | replace: ',','' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
        {% else %}
        <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/{{ topic.title | downcase | replace: ' ','-' | replace: ',','' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
        {% endif %}
        {% endif %}

        {% else %}

        {% if forloop.first %}
        <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' | replace: ',','' }}/">{{ topic.title }}</a></li>
        {% else %}
        {% if topic.hash == true %}
        <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/#{{ topic.title | downcase | replace: ' ','-' | replace: ',','' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
        {% else %}
        <li><a href="{{ site.url }}{{ section.title | downcase | replace: ' ','-' }}/{{ component.title | downcase | replace: ' ','-' }}/{{ topic.title | downcase | replace: ' ','-' | replace: ',','' }}" title="{{ topic.title }}">{{ topic.title }}</a></li>
        {% endif %}
        {% endif %}

        {% endif %}

        {% endfor %}
        {% endif %}
      </li>{% endfor %}



    </ul>
</div>
