Source: libsapo-encodingcleaner-python
Section: python
Priority: optional
Maintainer: Cláudio Valente <c.valente@co.sapo.pt>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 5.0.37.1), cdbs (>= 0.4.41), python-all-dev (>= 2.3.5-11), python-support (>= 0.6.4)
Build-Depends-Indep: python-setuptools (>= 0.6a9)

Package: libsapo-encodingcleaner-python
Architecture: i386
XS-Python-Version: >=2.4
XB-Python-Version: >=2.4
Depends: ${python:Depends}
Provides: ${python:Provides}
Description: python module to deal with encoding problems
 C extension module to try to fix several encoding problems common for HTML pages.
