Package: sapo-broker
Version: [[version]]
Depends: sapo-jvm (>= 1.7.0)
Section: Java
Priority: optional
Architecture: all
Maintainer: Bruno Oliveira <bruno.e.oliveira@telecom.pt>
Description: Sapo message broker agent.
Distribution: production