<div class="ink-shade fade"  >
    <div class="ink-modal fade" data-width="400px" data-height="150px" role="dialog" aria-hidden="true" aria-labelled-by="modal-title">

        <div class="modal-header">
            <button class="modal-close ink-dismiss"></button>
            <strong id="modal-title">Are you sure?</strong>
        </div>

        <div class="modal-body" id="modalContent">
            <div class="column-group horizontal-gutters">
                <div class="all-50 align-center">
                    <button ng-click="yes()" class="ink-button green ink-dismiss">Yes</button>
                </div>
                <div class="all-50 align-center">
                    <button ng-click="no()" class="ink-button red ink-dismiss">No</button>
                </div>
            </div>
        </div>

    </div>
</div>