<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
    </filter>
    <layout class="ch.qos.logback.classic.PatternLayout">
      <pattern>%5p #%C# [%t] - %m%n</pattern>
    </layout>
  </appender>

  <logger additivity="false" name="org.caudexorigo.jdbc.DbPool">
    <level value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </logger>

  <root>
    <level value="info"/>
    <appender-ref ref="ConsoleAppender"/>
  </root>

</configuration>

