<?xml version="1.0"?>
<global-config>
  <domain>
    <peer>
      <ip>127.0.0.1</ip>
      <port>3315</port>
    </peer>
  </domain>
  <security-policies>
    <policies>
      <policy policy-name="default">
        <acl>
          <entry action="DENY" destination-type="TOPIC QUEUE VIRTUAL_QUEUE" destination=".*" privilege="READ WRITE">
            <condition condition-type="ALWAYS"/>
          </entry>
        </acl>
      </policy>
      <policy policy-name="special policy" inherits="default">
        <acl>
          <entry action="PERMIT" destination-type="QUEUE" destination="*" privilege="READ">
            <condition condition-type="ADDRESS">
              <address mask="24">10.11.12.0</address>
            </condition>
            <condition condition-type="ROLE">
              <role>brk_role_x</role>
            </condition>
          </entry>
          <entry action="PERMIT" destination-type="QUEUE" destination="*" privilege="WRITE">
            <condition condition-type="ADDRESS">
              <address mask="24">10.11.12.0</address>
            </condition>
            <condition condition-type="ROLE">
              <role>brk_writer_role</role>
            </condition>
          </entry>
          <entry action="DENY" destination-type="QUEUE" destination="*" privilege="READ">
            <condition condition-type="ADDRESS">
              <address mask="24">10.11.12.0</address>
            </condition>
            <condition condition-type="ROLE">
              <role>brk_writer_role</role>
            </condition>
          </entry>
          <entry action="DENY" destination-type="QUEUE" destination="*" privilege="READ READ">
            <condition condition-type="ALWAYS"/>
          </entry>
        </acl>
      </policy>
      <policy policy-name="very special policy" inherits="special policy">
        <acl>
          <entry action="PERMIT" destination-type="TOPIC" destination="/topic/sensitive" privilege="READ WRITE">
            <condition condition-type="AND">
              <condition condition-type="ROLE">
                <role>brk_writer_role</role>
              </condition>
              <condition condition-type="CHANNELTYPE">
                <channel-type>CONFIDENTIALITY</channel-type>
              </condition>
            </condition>
          </entry>
        </acl>
      </policy>
      <policy policy-name="policy-agent1" inherits="default">
        <acl>
          <entry action="PERMIT" destination-type="TOPIC" destination="/test/foo" privilege="WRITE READ">
            <condition condition-type="ADDRESS">
              <address mask="32">127.0.0.1</address>
            </condition>
          </entry>
          <entry action="PERMIT" destination-type="TOPIC" destination="/test/.*" privilege="READ">
            <condition condition-type="AND">
              <condition condition-type="ADDRESS">
                <address mask="32">127.0.0.1</address>
              </condition>
              <condition condition-type="ROLE">
                <role>admin@notsuchdomain</role>
              </condition>
            </condition>
          </entry>
        </acl>
      </policy>
    </policies>
    <agents>
      <agent agent-name="borderAgent">
        <agent-policy policy-name="special policy"/>
      </agent>
      <agent agent-name="broker1">
        <agent-policy policy-name="policy-agent1"/>
      </agent>
    </agents>
  </security-policies>
  <authorization-providers>
    <authorization-provider provider-name="SapoSTS">
      <class>pt.com.broker.auth.saposts.SapoSTSProvider</class>
      <provider-params>
        <sts>
          <STSLocation>https://services.bk.sapo.pt/STS/</STSLocation>
          <STSUsername>XXXXXX</STSUsername>
          <STSPassword>XXXXXX</STSPassword>
        </sts>
      </provider-params>
    </authorization-provider>
  </authorization-providers>
  <credential-validators>
    <credential-validator provider-name="SapoSTS">
      <class>pt.com.broker.auth.saposts.SapoSTSAuthInfoValidator</class>
    </credential-validator>
  </credential-validators>
</global-config>

